<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <!-- Main plugin class -->
    <class>org.jivesoftware.openfire.plugin.ChineseWall</class>

    <!-- Plugin meta-data -->
    <name>Chinese Wall</name>
    <description>Plugin to enforce Chinese Wall</description>
    <author>Daragh O'Keeffe</author>

    <version>1.0</version>
    <date>04/10/2014</date>
    <url>http://www.igniterealtime.org/projects/openfire/plugins.jsp</url>
    <minServerVersion>3.0.0</minServerVersion>
    <licenseType>gpl</licenseType>

    <!-- Admin console entries -->
    <adminconsole>		
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="CW" name="ChineseWall" url="chinesewall.jsp"
                     description="Click to manage Chinese Wall" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>